<div class="row raid zg align-items-center">
  <div class="raid-name">
    <h3>ZG : <br>13/13</h3>
  </div>
  <div class="boss killed jeklik">
    <img src="../../../assets/img/raids-classic/ZG/Jeklik.jpg" alt="Jeklik">
    <p>Jeklik</p>
  </div>
  <div class="boss killed venoxis">
    <img src="../../../assets/img/raids-classic/ZG/Venoxis.png" alt="Venoxis">
    <p>Venoxis</p>
  </div>
  <div class="boss killed marli">
    <img src="../../../assets/img/raids-classic/ZG/Marli.png" alt="Mar'li">
    <p>Mar'li</p>
  </div>
  <div class="boss killed mandokir">
    <img src="../../../assets/img/raids-classic/ZG/Mandokir.png" alt="Mandokir">
    <p>Mandokir</p>
  </div>
  <div class="boss killed grilek">
    <img src="../../../assets/img/raids-classic/ZG/Grilek.jpg" alt="Gri'lek">
    <p>Gri'lek</p>
  </div>
  <div class="boss killed hazzarah">
    <img src="../../../assets/img/raids-classic/ZG/Hazzarah.jpg" alt="Hazza'rah">
    <p>Hazza'rah</p>
  </div>
  <div class="boss killed renataki">
    <img src="../../../assets/img/raids-classic/ZG/Renataki.jpg" alt="Renataki">
    <p>Renataki</p>
  </div>
  <div class="boss killed wushoolay">
    <img src="../../../assets/img/raids-classic/ZG/Wushoolay.jpg" alt="Wushoolay">
    <p>Wushoolay</p>
  </div>
  <div class="boss killed gahzranka">
    <img src="../../../assets/img/raids-classic/ZG/Gahzranka.jpg" alt="Gahz'ranka">
    <p>Ghaz'ranka</p>
  </div>
  <div class="boss killed thekal">
    <img src="../../../assets/img/raids-classic/ZG/Thekal.png" alt="Thekal">
    <p>Thekal</p>
  </div>
  <div class="boss killed arlokk">
    <img src="../../../assets/img/raids-classic/ZG/Arlokk.png" alt="Arlokk">
    <p>Arlokk</p>
  </div>
  <div class="boss killed jindo">
    <img src="../../../assets/img/raids-classic/ZG/Jindo.png" alt="Jin'do">
    <p>Jin'do</p>
  </div>
  <div class="boss killed hakkar">
    <img src="../../../assets/img/raids-classic/ZG/Hakkar.png" alt="Hakkar">
    <p>Hakkar</p>
  </div>
</div>
