@import '../../../variables';

button {
  background-color: $primary;
  border: 1px solid $secondary;

  &:hover {
    background-color: $secondary;
    border: 1px solid $secondary;
  }
}

.row {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 15px;
}
