<div class="row col-12 tableDkp d-flex justify-content-center">
  <mat-form-field>
    <mat-label>Recherche</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Maìden">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i = index" [ngClass]="{'highlight': coloredRow[i] == true}">
        <mat-checkbox (click)="$event.stopPropagation(); changeColor(i)" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pseudo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pseudo </th>
      <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Classe </th>
      <td mat-cell *matCellDef="let element"> {{element.classe}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totaldkp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total DKP </th>
      <td mat-cell *matCellDef="let element"> {{element.totaldkp}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
      [ngClass]="{'highlight': coloredRow[i] == true}" (click)="selection.toggle(row); changeColor(i);">
    </tr>
  </table>
</div>
