<div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="../../assets/img/warcraft.png" alt="">
    <h1>SKUNKER</h1>
  </div>
  <div class="footerText" fxLayout="column">
    <p>Guilde hordeuse, sur le jeu World of Warcraft, serveur Amnennar.</p>
  </div>

  <div class="footerLinks" fxLayout="column">
    <a routerLink="/terms-conditions">Mentions légales</a>
    <a href="/privacy-policy">Confidentialité</a>
  </div>
</div>
<div class="copyright" fxLayout="row" fxLayoutAlign="center center">
  <p>©Skunker 2019-2020</p>
</div>
