<footer>
  <div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="/assets/img/WoW_15th_Anniversary.png" alt="">
  </div>
  <div class="footerText" fxLayout="column">
    <h3>Not Going To Happen</h3>
    <p>Guilde hordeuse, World of Warcraft Classic, Amnennar.</p>
  </div>

  <div class="footerLinks" fxLayout="column">
    <a routerLink="/terms-conditions">Mentions légales</a>
    <a href="/privacy-policy">Confidentialité</a>
  </div>
</div>
<div class="copyright" fxLayout="row" fxLayoutAlign="center center">
  <p>@Not Going To Happen 2019-2020</p>
</div>
</footer>

