@import '../../../variables';

.mat-button-toggle {
  background-color: $white;
}

.mat-button-toggle-checked.opened {
  background-color: $valid;
  color: $white;
}

.mat-button-toggle-checked.closed {
  background-color: $invalid;
  color: $white;
}

.mat-button-toggle-checked.limited {
  background-color: $accent;
  color: $white;
}


form {
  padding: 0;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 1),
    0 1px 2px 0 rgba(0, 0, 0, 1),
    0 1px 2px 0 rgba(0, 0, 0, 1);
}

::ng-deep thead th {
  padding: 10px;
}

.form-group {
  padding: 10px;
  
  button {
    background-color: $primary;
    border: none;

    &:hover{
        background-color: $secondary;
    }

}
}