<app-alert></app-alert>
<div class="container-fluid">
  <form [formGroup]="recrutementForm" class="col-xl-4 m-3 col-12 col-md-6" (ngSubmit)="onSubmit()">

    <div ngClass.gt-sm="recrutementTable" class="recrutementTable d-flex justify-content-center">
      <table class="recrutement table-striped">
        <thead>
          <tr>
            <th>
              RECRUTEMENT
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let classe of classes"class="test">
            <th scope="row" [class]="classe.label">
              <img class="logoClass" [src]="classe.img" alt="{{classe.name}}">
              {{classe.name}}
            </th>
            <mat-button-toggle-group formControlName="{{classe.label}}" name="fontStyle" aria-label="Font Style">
              <mat-button-toggle class="opened" value="open">Ouvert</mat-button-toggle>
              <mat-button-toggle class="limited" value="limited">Limité</mat-button-toggle>
              <mat-button-toggle class="closed" value="closed">Fermé</mat-button-toggle>
            </mat-button-toggle-group>
          </tr>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Enregistrer</button>
            <img *ngIf="loading"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </tbody>
      </table>
  
    </div>
  
  </form>
  
</div>