<div class="bodyProgress">
    <h1>Progress :</h1>
    <div class="row raid molten-core align-items-center">
      <h3>MC : <br>10/10</h3>
      <div class="boss lucifron killed">
        <img src="../../../assets/img/raids classic/MC/lucifron.png" alt="Lucifron">
        <p>Lucifron</p>
      </div>
      <div class="boss magmadar killed">
        <img src="../../../assets/img/raids classic/MC/magmadar.png" alt="Magmadar">
        <p>Magmadar</p>
      </div>
      <div class="boss gehennas killed">
        <img src="../../../assets/img/raids classic/MC/Gehennas.png" alt="Gehennas">
        <p>Gehennas</p>
      </div>
      <div class="boss garr killed">
        <img src="../../../assets/img/raids classic/MC/Garr.png" alt="Garr">
        <p>Garr</p>
      </div>
      <div class="boss geddon killed">
        <img src="../../../assets/img/raids classic/MC/Baron-Geddon.png" alt="Baron Geddon">
        <p>Geddon</p>
      </div>
      <div class="boss shazzrah killed">
        <img src="../../../assets/img/raids classic/MC/Shazzrah.png" alt="Shazzrah">
        <p>Shazzrah</p>
      </div>
      <div class="boss golemagg killed">
        <img src="../../../assets/img/raids classic/MC/Golemagg.png" alt="Golemagg">
        <p>Golemagg</p>
      </div>
      <div class="boss sulfuron killed">
        <img src="../../../assets/img/raids classic/MC/Sulfuron.png" alt="Sulfuron">
        <p>Sulfuron</p>
      </div>
      <div class="boss executus killed">
        <img src="../../../assets/img/raids classic/MC/Executus.png" alt="Executus">
        <p>Executus</p>
      </div>
      <div class="boss ragnaros killed">
        <img src="../../../assets/img/raids classic/MC/Ragnaros.png" alt="Ragnaros">
        <p>Ragnaros</p>
      </div>
    </div>
  
    <div class="row raid onyxia align-items-center">
      <h3>Onyxia : <br>1/1</h3>
      <div class="boss killed">
        <img src="../../../assets/img/raids classic/onyxia.png" alt="Onyxia">
        <p>Onyxia</p>
      </div>
    </div>
  
    <div class="row raid bwl align-items-center">
      <h3>BWL : <br>0/8</h3>
      <div class="boss tranchetripe">
        <img src="../../../assets/img/raids classic/BWL/Tranchétripe.png" alt="Tranchétripe">
        <p>Tranchétripe</p>
      </div>
      <div class="boss vaelastrasz">
        <img src="../../../assets/img/raids classic/BWL/Vaelastrasz.png" alt="Vaelastrasz">
        <p>Vaelastrasz</p>
      </div>
      <div class="boss lashlayer">
        <img src="../../../assets/img/raids classic/BWL/Lashlayer.png" alt="Lashlayer">
        <p>Lashlayer</p>
      </div>
      <div class="boss gueule-de-feu">
        <img src="../../../assets/img/raids classic/BWL/Gueule-de-feu.png" alt="Gueule-de-feu">
        <p>Gueule-de-feu</p>
      </div>
      <div class="boss rochebene">
        <img src="../../../assets/img/raids classic/BWL/Rochébène.png" alt="Rochébène">
        <p>Rochébène</p>
      </div>
      <div class="boss flamegor">
        <img src="../../../assets/img/raids classic/BWL/Flamegor.png" alt="Flamegor">
        <p>Flamegor</p>
      </div>
      <div class="boss chromaggus">
        <img src="../../../assets/img/raids classic/BWL/Chromaggus.png" alt="Chromaggus">
        <p>Chromaggus</p>
      </div>
      <div class="boss nefarian">
        <img src="../../../assets/img/raids classic/BWL/Nefarian.png" alt="Nefarian">
        <p>Nefarian</p>
      </div>
    </div>
  </div>
  