@import "../../../variables";

%box-shadow {
  @include box-shadow(3px 3px 6px black);
}

.bodyProgress {
    background-color: rgba(0, 0, 0, 0.808);
    padding: 30px;
}
img {
  margin: 10px 10px 5px 10px;
  width: 65px;
}

h1 {
  color: white;
}

h3 {
  width: 85px;
  text-align: center;
}

.raid {
  padding: 15px;
  margin: 15px;
  color: white;
  background-size: cover;
  font-size: 12px;
  border-radius: 5px;
}

.boss {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.651);
  color: red;

  img {
    border: 1px solid;
    @extend %box-shadow;
  }
}

.molten-core {
  background-image: url('https://img.cinemablend.com/filter:scale/cb/6/c/1/2/4/1/6c1241421df3b65a6277306877814bebe071ee4af5b4eaf0fd419fd56baeb59a.jpg?mw=600');
  background-position-y: 20%;
}

.onyxia {
  background-image: url('https://shadowburn.net/raids/images/onyxia.jpg');
  background-position-y: 60%;
}

.bwl {
  background-image: url('https://wow.zamimg.com/uploads/screenshots/normal/171047-morts-de-nefarian-repaire-de-laile-noire.jpg');
  background-position-y: 25%;
}

.killed {
  color: rgb(2, 168, 2);
}
