@import '../../../variables';

a {
    color: $primary;
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;

    &:hover {
        background-color: $primary;
        border: 1px solid;
        border-color: $primary;
        color: white;
        text-decoration: none;
    }
}