<!-- NAVBAR-DESKTOP -->

<mat-toolbar ngClass.gt-sm="toolbarMd" class="navbar-desktop" 
             fxHide.lt-md="true" fxLayout.md="column" fxLayoutAlign.md="center none">
  <div fxLayout.md="row" ngClass.gt-md="toolbarWidth" ngClass.md="toolbarWidthMd" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="none center">
      <a routerLink="/" class="homeLogo" fxLayoutAlign="none center">
        <img class="logo-navbar" src="/assets/img/navbar-logo1.png" alt="Logo">
      </a>
      <a class="navlink" routerLink="/index" routerLinkActive="router-link-active">Accueil</a>
      <!-- <a class="navlink" routerLink="/blog" routerLinkActive="router-link-active">Articles</a> -->
      <a class="navlink" routerLink="/rosters">Rosters</a>
      <a class="navlink" routerLink="/en-construction">Guides</a>
      <a *ngIf="discordLink" class="navlink btnDiscord" href="{{discordLink.discord}}" target="_blank"><img src="/assets/img/Discord-Logo.png" alt="Discord"></a>

    </div>
    <div fxLayoutAlign="none center">
      <p *ngIf="isLogged==true">Bonjour {{info.username}} !</p>
      <button *ngIf="isInfo==false" class="registerButton" routerLink="/register">S'enregistrer</button>
      <button *ngIf="isInfo==false" class="loginButton" routerLink="/login">Connexion</button>
      <button *ngIf="isLogged==true" class="panelAdminButton" (click)="redirectToPanelAdmin()"
      routerLink="/index">Panel Admin</button>
      <button *ngIf="isLogged==true" class="panelMembreButton" (click)="redirectToPanelMembre()"
      routerLink="/index">Panel Membre</button>
      <button *ngIf="isLogged==true" class="loginButton" (click)="logout()"
        routerLink="/index">Déconnexion</button>

    </div>
  </div>
</mat-toolbar>

<!-- NAVBAR MOBILE -->

<div class="containerXs">
  <mat-toolbar fxLayout="column" fxHide.gt-sm="true" class="toolbarXs">
    <div fxLayout="row" class="toolbarWidthXs" fxLayoutAlign="space-between center">
      <div class="leftButton">
        <button mat-icon-button (click)="snav.toggle();">
          <mat-icon class="toolbar-icon">menu</mat-icon>
        </button>
      </div>
      <a routerLink="/" class="homeLogo" (click)="snav.close();" fxLayoutAlign="none center">
        <img class="logo-navbar" src="/assets/img/navbar-logo1.png" alt="Logo">
        NGTH
      </a>
      <span class="toolbar-spacer"></span>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenavblack" #snav fxHide.gt-sm="true" [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list>
          <a mat-list-item class="navlink" (click)="snav.close();" routerLink="/index" routerLinkActive="router-link-active">Accueil</a>
        <a mat-list-item class="navlink" (click)="snav.close();" routerLink="/rosters">Rosters</a>
        <a mat-list-item class="navlink" (click)="snav.close();" routerLink="/en-construction">Guides</a>
        <div class="ButtonDiscordRowXs" fxLayoutAlign="center center">
          <a class="btnDiscord" href="https://discord.gg/sH4g59C" target="_blank"><img src="/assets/img/Discord-Logo.png" alt="Discord"></a>
          </div>
      </mat-nav-list>
    </mat-sidenav>

<!-- ROUTEUR COMMUN -->
    <mat-sidenav-content ngClass.lt-md="contentMobile" ngClass.gt-sm="contentDesktop">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
