
<app-alert></app-alert>
<div *ngIf='membres' class="container col-12 col-md-10 bodyListeMembres d-flex justify-content-center">
  <div class="col-12 col-md-10 mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre de recherche">
    </mat-form-field>
    <table mat-table class="limit" [dataSource]="membres" matSort>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pseudo</th>
        <td mat-cell *matCellDef="let membres"> {{membres.username}} </td>
      </ng-container>

      <ng-container matColumnDef="classe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe</th>
        <td mat-cell *matCellDef="let membres"> {{membres.classe}} </td>
      </ng-container>

      <ng-container matColumnDef="race">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Race</th>
        <td mat-cell *matCellDef="let membres"> {{membres.race}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rôle</th>
        <td mat-cell *matCellDef="let membres"> {{membres.roles[0].name | translate}} </td>
      </ng-container>

      <i class="material-icons"></i>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let membres"> <i [routerLink]="['/gestion-gm/membres-list/modifiermembre', membres.id]"
            class="material-icons" style="color:blue; cursor: pointer;">edit</i> </td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef>Supprimer</th>
        <td mat-cell *matCellDef="let membres"> <i class="material-icons" style="color:red; cursor: pointer;" (click)=openDialog(membres.username)>delete</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <mat-paginator paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)" showFirstLastButtons></mat-paginator>
  </div>

</div>



<!-- <ion-col *ngFor="let child of this.children; let idx = index" size="12">
  <premium-workspace-child-card
    *ngIf="child.DELETEFLAG !== 1 && !isBeingEdited(idx)"
    [child]="child"
    [idx]=idx
    (editClick)="onEditClick($event, idx)"
    (childDelete)="onChildDelete($event)"
    [dontShowAsCard]="dontShowAsCard"
  ></premium-workspace-child-card>
  <premium-workspace-shared-child-form
    *ngIf="isBeingEdited(idx)"
    [children]="children"
    [rubric]="child.RUBRIQUE"
    (formIsValidEvent)="onChildValidation($event)"
    (formCancelationEvent)="onChildValidation($event)"
    [dontShowAsCard]="dontShowAsCard"
  ></premium-workspace-shared-child-form>
</ion-col> -->