<app-alert></app-alert>
<div *ngIf='membres' class="container-fluid p-0 m-0 bodyListeMembres">
  <div class="col-12 col-md-10 mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre de recherche">
    </mat-form-field>
    <table mat-table class="limit" [dataSource]="membres" matSort>

      <ng-container matColumnDef="username" class="col-3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pseudo</th>
        <td mat-cell *matCellDef="let membres"> {{membres.username}} </td>
      </ng-container>

      <ng-container matColumnDef="role" class="col-2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rôle</th>
        <td mat-cell *matCellDef="let membres"> {{membres.roles[0].name | translate }} </td>
      </ng-container>

      <ng-container matColumnDef="modifier" class="col-3">
        <th mat-header-cell *matHeaderCellDef>Changer le rôle</th>
        <td mat-cell *matCellDef="let membres">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Rôle</mat-label>
            <mat-select (selectionChange)="onChanges($event, membres)">
              <mat-option value="user">
                Invité
              </mat-option>
              <mat-option value="member">
                Membre
              </mat-option>
              <mat-option value="officer">
                Officier
              </mat-option>
              <mat-option value="gamemaster">
                GM
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Détail</th>
        <td mat-cell *matCellDef="let membres">
          <i (click)="openDetails(membres)" class="material-icons">
            visibility
          </i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
      [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)" showFirstLastButtons>
    </mat-paginator>
  </div>

</div>



<!-- <ion-col *ngFor="let child of this.children; let idx = index" size="12">
  <premium-workspace-child-card
    *ngIf="child.DELETEFLAG !== 1 && !isBeingEdited(idx)"
    [child]="child"
    [idx]=idx
    (editClick)="onEditClick($event, idx)"
    (childDelete)="onChildDelete($event)"
    [dontShowAsCard]="dontShowAsCard"
  ></premium-workspace-child-card>
  <premium-workspace-shared-child-form
    *ngIf="isBeingEdited(idx)"
    [children]="children"
    [rubric]="child.RUBRIQUE"
    (formIsValidEvent)="onChildValidation($event)"
    (formCancelationEvent)="onChildValidation($event)"
    [dontShowAsCard]="dontShowAsCard"
  ></premium-workspace-shared-child-form>
</ion-col> -->
