<div class="row raid naxx align-items-center">
  <div class="raid-name">
    <h3>Naxx : <br>0/15</h3>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/anub.png" alt="Anub'Rekhan">
    <p>Anub'Rekhan</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/faerlina.png" alt="Faerlina">
    <p>Faerlina</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/maexxna.png" alt="Maexxna">
    <p>Maexxna</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/heigan.png" alt="Heigan">
    <p>Heigan</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/horreb.png" alt="Horreb">
    <p>Horreb</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/razuvious.png" alt="Razuvious">
    <p>Razuvious</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/gothik.png" alt="Gothik">
    <p>Gothik</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/4cava.png" alt="Les quatre cava">
    <p>Les quatre cava</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/recousu.png" alt="Recousu">
    <p>Recousu</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/grobbulus.png" alt="Grobbulus">
    <p>Grobbulus</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/gluth.png" alt="Gluth">
    <p>Gluth</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/thaddius.png" alt="Thaddius">
    <p>Thaddius</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/sapphiron.png" alt="Saphiron">
    <p>Saphiron</p>
  </div>
  <div class="boss">
    <img src="../../../assets/img/raids-classic/NAXX/kelthuzad.png" alt="Kel'Thuzad">
    <p>Kel'Thuzad</p>
  </div>
</div>
