<div class="row raid aq align-items-center">
    <div class="raid-name">
      <h3>AQ40 : <br>0/9</h3>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/skeram.png" alt="Skeram">
      <p>Skeram</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/insectes.jpg" alt="Trio d'insectes">
      <p>Trio d'insectes</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/sartura.png" alt="Sartura">
      <p>Sartura</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/fankriss.png" alt="Fankriss">
      <p>Fankriss</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/viscidus.jpg" alt="Viscidus">
      <p>Viscidus</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/huhuran.png" alt="Huhuran">
      <p>Huhuran</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/empereurs.png" alt="Empereurs">
      <p>Empereurs</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/ouro.jpg" alt="Ouro">
      <p>Ouro</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ40/cthun.png" alt="C'Thun">
      <p>C'Thun</p>
    </div>
  </div>
  