@import "../../../variables";

%box-shadow {
  @include box-shadow(3px 3px 6px black);
}

.bodyCandidature {
  color: white;
  margin: auto;
}

.bodyImg {
  width: 500px;
}

.bodyImgSm {
  margin-top: 15px;;
  width: 250px;
}

.textCenter {
  text-align: center;
}


.btnDiscord {

  img {
    margin-top: 50px;
    margin-bottom: 15px;
    height: 55px;
    border-radius: 10px;
    background-color: #7289DA;
    @extend %box-shadow;

    &:hover {
      background-color: $primary;
    }
  }

}
