<div class="row header justify-content-center">
  <img class="imgClasse" src="/assets/img/classes/dps.png" alt="DPS">
</div>

<div class="rosterDpsList row col-12">
  <mat-list class="col-2">
    <div mat-subheader class="mat-list-title titleDps">Voleur</div>
    <mat-list-item *ngFor="let player of rogueMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-2">
    <div mat-subheader class="mat-list-title titleDps">Démoniste</div>
    <mat-list-item *ngFor="let player of demoMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-2">
    <div mat-subheader class="mat-list-title titleDps">Chasseur</div>
    <mat-list-item *ngFor="let player of huntMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-2">
    <div mat-subheader class="mat-list-title titleDps">Mage</div>
    <mat-list-item *ngFor="let player of mageMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-2">
    <div mat-subheader class="mat-list-title titleDps">Guerrier</div>
    <mat-list-item *ngFor="let player of warMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-2">
    <div mat-subheader class="mat-list-title titleDps">Chaman</div>
    <mat-list-item *ngFor="let player of chamMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  
</div>