<div class="row raid bwl align-items-center">
  <div class="raid-name">
    <h3>BWL : <br>8/8</h3>
  </div>
  <div class="boss killed tranchetripe">
    <img src="../../../assets/img/raids-classic/BWL/Tranchétripe.png" alt="Tranchétripe">
    <p>Tranchétripe</p>
  </div>
  <div class="boss killed vaelastrasz">
    <img src="../../../assets/img/raids-classic/BWL/Vaelastrasz.png" alt="Vaelastrasz">
    <p>Vaelastrasz</p>
  </div>
  <div class="boss killed lashlayer">
    <img src="../../../assets/img/raids-classic/BWL/Lashlayer.png" alt="Lashlayer">
    <p>Lashlayer</p>
  </div>
  <div class="boss killed gueule-de-feu">
    <img src="../../../assets/img/raids-classic/BWL/Gueule-de-feu.png" alt="Gueule-de-feu">
    <p>Gueule-de-feu</p>
  </div>
  <div class="boss killed rochebene">
    <img src="../../../assets/img/raids-classic/BWL/Rochébène.png" alt="Rochébène">
    <p>Rochébène</p>
  </div>
  <div class="boss killed flamegor">
    <img src="../../../assets/img/raids-classic/BWL/Flamegor.png" alt="Flamegor">
    <p>Flamegor</p>
  </div>
  <div class="boss killed chromaggus">
    <img src="../../../assets/img/raids-classic/BWL/Chromaggus.png" alt="Chromaggus">
    <p>Chromaggus</p>
  </div>
  <div class="boss killed nefarian">
    <img src="../../../assets/img/raids-classic/BWL/Nefarian.png" alt="Nefarian">
    <p>Nefarian</p>
  </div>
</div>
