<div class="row header justify-content-center">
  <img class="imgClasse" src="/assets/img/classes/tank.png" alt="Tank">
</div>

<div class="rosterTankList row col-12">
  <mat-list class="col-6">
    <div mat-subheader class="mat-list-title titleTank">Guerrier</div>
    <mat-list-item *ngFor="let player of warMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-6">
    <div mat-subheader class="mat-list-title titleTank">Druide</div>
    <mat-list-item *ngFor="let player of druidMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
