@import '../../../variables';

a {
    color: white;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        background-color: $primary;
        border: 1px solid;
        border-color: $primary;
        color: white;
        text-decoration: none;
    }
}

.pageInscription {
    background-image: url('/assets/img/portailbuild.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: -18em;
}

.contentSignUp {
    background-color: rgba(0, 0, 0, 0.336);
    margin: 30px 0 30px 0;
    color: white;
}

.mat-divider {
    border-top-color: $primary;
  }