<div class="pageInscription" fxLayoutAlign="center center">
  <div class="contentSignUp" fxFlex.lt-md="80" fxFlex.gt-sm="50">
    <div class="text-center m-4">
      <h3>Ajoute ta pierre à l'édifice, inscrit toi pour profiter de toutes les fonctionnalités du site !</h3>
    </div>
    <mat-divider></mat-divider>
    <app-form-signup></app-form-signup>
    <mat-divider></mat-divider>
    <div class="text-center m-2">
      <p>Tu as déjà un compte ? <a routerLink="/login">Connecte toi</a> !</p>
    </div>
  </div>
</div>
