.bodyRoster {
  background-image: url("../../../assets/img/nafarianbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.row {
  overflow: auto;
  margin: 0;
  padding: 0;
}
