<div class="container-fluid bodyRoster justify-content-center">
  <div class="d-none d-md-flex row titleTable justify-content-around">
    <h1 class="titleTank">TANKS</h1>
    <h1 class="titleHeal">HEALS</h1>
  </div>
  <div class="d-md-none row titleTable justify-content-center">
    <h1 class="titleTank">TANKS</h1>
  </div>
  <div class="row col-12 d-flex justify-content-around">
    <div class="table-responsive col-sm-12 col-md-5">
      <table class="table tank table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Guerrier</th>
            <th scope="col">Druide</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Iktae</td>
            <td><img class="logoClass" src="../../../assets/img/class/druidferal.png" alt="Druide féral"> Emboucane</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Lekitch
            </td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Morcheeba
            </td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Redburne
            </td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Rushzen
            </td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Tombert
            </td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><img class="logoClass" src="../../../assets/img/class/warprot.png" alt="Guerrier Protection"> Zyphounet
            </td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="d-md-none row titleTable justify-content-center">
      <h1 class="titleHeal">HEALS</h1>
    </div>
    <div class="table-responsive col-sm-12 col-md-5">
      <table class="table heal table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prêtre</th>
            <th scope="col">Chaman</th>
            <th scope="col">Druide</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Allen</td>
            <td><img class="logoClass" src="../../../assets/img/class/chamheal.png" alt="Chaman heal"> Elpitcho</td>
            <td><img class="logoClass" src="../../../assets/img/class/druidheal.png" alt="Druide heal"> Baakz</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Digitalova</td>
            <td><img class="logoClass" src="../../../assets/img/class/chamheal.png" alt="Chaman heal"> Lechatman</td>
            <td><img class="logoClass" src="../../../assets/img/class/druidheal.png" alt="Druide heal"> Chaoursporc</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Epipen</td>
            <td><img class="logoClass" src="../../../assets/img/class/chamheal.png" alt="Chaman heal"> Westvlet</td>
            <td><img class="logoClass" src="../../../assets/img/class/druidheal.png" alt="Druide heal"> Wiis</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Lucille</td>
            <td><img class="logoClass" src="../../../assets/img/class/chamheal.png" alt="Chaman heal"> Zhayl</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Monka</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Pèreïdural</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Shasdow</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Taïra</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Tomyx</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Tomiche</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td><img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre heal"> Pow</td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <h1 class="titleDPS">DPS</h1>
  </div>

  <div class="table-responsive d-md-flex justify-content-center">

    <table class="table dps table-striped col-md-11">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Voleur</th>
          <th scope="col">Démoniste</th>
          <th scope="col">Chasseur</th>
          <th scope="col">Mage</th>
          <th scope="col">Guerrier</th>
          <th scope="col">Chaman</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Alastir</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Arthésys</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Buddhacheese</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Dudull</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Couryvit</td>
          <td><img class="logoClass" src="../../../assets/img/class/chamelio.png" alt="Chaman DPS"> Cixiehell</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Antox</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Bhellzebuth</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Kyraa</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Glassvanilla</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Gargenor</td>
          <td><img class="logoClass" src="../../../assets/img/class/chamelio.png" alt="Chaman DPS"> Kraggosh</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Arren</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Coroskunk</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Lëvy</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Lethibs</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Heitai</td>
          <td><img class="logoClass" src="../../../assets/img/class/chamelio.png" alt="Chaman DPS"> Livesergent</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Beez</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Hayzen</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Lïzbeth</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Maìden</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Kourgett</td>
          <td><img class="logoClass" src="../../../assets/img/class/chamelio.png" alt="Chaman DPS"> Rockta</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Jakeis</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Hizo</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Maross</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Negaan</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Morog</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Légiøn</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Khaze</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Setja</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Oscourt</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Øzii</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Oneshøt</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Komtuve</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Scritch</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> SX</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Shevrar</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Öpinel</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Krevet</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Tilk</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Sorcia</td>
          <td><img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier DPS"> Vintzgau</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Psychøpique</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Magnifik</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Thorzakh</td>
          <td><img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage"> Traficdecèss</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Serialkiller</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Malacrass</td>
          <td><img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur"> Ysondril</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">11</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Sgtpepper</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Orgrik</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Slashweed</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Salmanazar</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td><img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur"> Tonhi</td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Sethre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">14</th>
          <td></td>
          <td><img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste"> Ulghurs</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
