<div class="container-fluid p-0 m-0">
    <form [formGroup]="accountPasswordForm">
      <mat-form-field class="col-12 p-0 m-0" appearance="outline">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput type="password" formControlName="password" [ngClass]="accountPasswordForm.controls['password'].invalid ? 'is-invalid' : ''">
      </mat-form-field>
      <mat-form-field class="col-12 p-0 m-0" appearance="outline">
        <mat-label>Confirmation du mot de passe</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <label class="text-danger" *ngIf="accountPasswordForm.controls['confirmPassword'].hasError('NoPasswordMatch')">
            Les mots de passe ne sont pas les mêmes!
          </label>
      </mat-form-field>
      <label class="col passconfirm"
      [ngClass]="accountPasswordForm.controls['password'].hasError('required') || accountPasswordForm.controls['password'].hasError('minlength') || accountPasswordForm.controls['password'].hasError('hasNumber') || accountPasswordForm.controls['password'].hasError('hasCapitalCase') || accountPasswordForm.controls['password'].hasError('hasSmallCase')  ? '' : 'text-success'">
      <i class="material-icons">{{ accountPasswordForm.controls['password'].hasError('required') ||
                      accountPasswordForm.controls['password'].hasError('minlength') || accountPasswordForm.controls['password'].hasError('hasNumber')  || accountPasswordForm.controls['password'].hasError('hasCapitalCase') || accountPasswordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                      'check_circle' }}</i>
      Le mot de passe doit contenir au minimum 6 caractères, un chiffre et une majuscule!
    </label>
      <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary">Enregistrer</button>
      <img *ngIf="loading"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  
    </form>
  
  </div>
  