@import "../../../../variables";
.passconfirm {
  color: rgb(168, 0, 0);
}

button {
  width: 110px;
  background-color: $primary;
  border: none;

  &:hover {
    background-color: $secondary;
  }

}
