<div class="toolbar-container" [class.is-mobile]="mobileQuery.matches">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon color="primary">menu</mat-icon>
      </button>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav opened class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="/paneladmin/accueil">Accueil</a>
          <a mat-list-item routerLink="/paneladmin/recrutement">Recrutement</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
    