button {
  z-index: 100;
  position: absolute;
  background-color: white;
  margin-top: 4px;
  top: 0;
  left: 0;
}

mat-nav-list {
  padding: 0;
}

.sidenav {
  z-index: 0;
  background-image: url('/assets/img/background/dark-back.jpg');
  border-radius: 0;
  width: 175px;

  .mat-list-item {
    color: white;
    border-top: 1px solid white;

    &:last-child {
      border-bottom: 1px solid white;
    }
  }

}

.material-icons {
  color: black;
  font-size: 26px;
}

.sidenav-container {
  flex: 1;
  min-height: 76vh;
  background-image: url("/assets/img/background/sylvanas2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}
