@import "../../../variables";

.contentDescription {
  position: absolute;
  padding: 12%;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.contentDescriptionMd {
  padding: 10% 3% 5% 3%;
}

h1 {
  color: white;
  font-size: 36px;
}

.text {
  color: white;
  padding: 3%;
}

.logoClass {
  width: 20px;
}

.recrutementTable {
  color: white;
  .recrutement {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 7px;
  }

  td {
    padding: 10px 25px 10px 0px;
  }

  th {
    padding: 10px 0px 10px 25px;
  }

  .test {
    border-top: 1px solid white;
  }

  .open {
    color: rgb(0, 179, 0);
  }

  .limited {
    color: rgb(255, 136, 0);
  }

  .closed {
    color: rgb(255, 0, 0);
  }


  .mage {
    color: rgb(0, 217, 255);
  }

  .voleur {
    color: rgb(238, 238, 118);
  }

  .chasseur {
    color: rgb(83, 141, 83)
  }

  .guerrier {
    color: rgb(107, 85, 60);
  }

  .druide {
    color: rgb(247, 95, 40);
  }

  .demo {
    color: rgb(101, 35, 163);
  }

  .chaman {
    color: rgb(30, 30, 255);
  }

}
