<div class="bodyDescription">
  <div ngClass.gt-sm="contentDescription" class="contentDescriptionMd">
    <div class="text">
      <h1>Not Going To Happen - AMNENNAR</h1>
    </div>

    <div ngClass.gt-sm="recrutementTable col-4"
      class="recrutementTable d-flex justify-content-center">
      <table *ngIf="recrutement" class="recrutement table-striped">
        <thead>
          <tr>
            <th>
              RECRUTEMENT
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="test">
            <th scope="row" class="chaman">
              <img class="logoClass" src="/assets/img/class/chaman.jpg" alt="Chaman">
              Chaman
            </th>
            <td class="{{recrutement.chaman}}">{{recrutement.chaman | translate}}</td>
          </tr>
          <tr class="test">
            <th scope="row" class="chasseur">
              <img class="logoClass" src="/assets/img/class/hunt.jpg" alt="Chasseur">
              Chasseur
            </th>
            <td class="{{recrutement.chasseur}}">{{recrutement.chasseur | translate}}</td>
          </tr>
          <tr class="test">
            <th scope="row" class="demo">
              <img class="logoClass" src="/assets/img/class/demoniste.jpg" alt="Démoniste">
              Démoniste
            </th>
            <td class="{{recrutement.demoniste}}">{{recrutement.demoniste | translate}}</td>
          </tr>
          <tr class="test">
            <th scope="row" class="druide">
              <img class="logoClass" src="/assets/img/class/druid.jpg" alt="Druide">
              Druide
            </th>
            <td class="{{recrutement.druide}}">{{recrutement.druide | translate}}</td>
          </tr>
          <tr class="test">
            <th scope="row" class="guerrier">
              <img class="logoClass" src="/assets/img/class/warrior.jpg" alt="Guerrier">
              Guerrier
            </th>
            <td class="{{recrutement.guerrier}}">{{recrutement.guerrier | translate}}</td>
          </tr>
          <tr class="test">
            <th scope="row" class="mage">
              <img class="logoClass" src="/assets/img/class/mage.jpg" alt="Mage">
              Mage
            </th>
            <td class="{{recrutement.mage}}">{{recrutement.mage | translate}}</td>
          </tr>
          <tr class="test">
            <th scope="row" class="pretre">
              <img class="logoClass" src="/assets/img/class/priest.jpg" alt="Prêtre">
              Prêtre
            </th>
            <td class="{{recrutement.pretre}}">{{recrutement.pretre | translate}}</td>
          </tr>
          <tr class="test lastrow">
            <th scope="row" class="voleur">
              <img class="logoClass" src="/assets/img/class/rogue.jpg" alt="Voleur">
              Voleur
            </th>
            <td class="{{recrutement.voleur}}">{{recrutement.voleur | translate}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
