<div class="bodyDescription">
  <div class="videoPane-bg" fxHide.lt-lg="true">
    <video autoplay muted loop id="myVideo">
      <source src="../../../assets/background-video.mp4" type="video/mp4">
    </video>
  </div>
  <div ngClass.gt-sm="contentDescription" class="contentDescriptionMd">
    <div class="text">
      <h1>GUILDE SKUNKER - AMNENNAR</h1>
      <p>La guilde qui va te skunker !</p>
      <p>Objectifs : PVE et PVP HL. Raser tout ce qui bouge. Aucune pitié.</p>
    </div>

    <div class="recrutementTable col-4 d-flex justify-content-center">
      <table class="recrutement table-striped">
        <thead>
          <tr>
            <th>
              RECRUTEMENT
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="chaman">
              <img class="logoClass" src="../../../assets/img/class/chaman.jpg" alt="Chaman">
              Chaman
            </th>
            <td class="closed">Fermé</td>
          </tr>
          <tr>
            <th scope="row" class="chasseur">
              <img class="logoClass" src="../../../assets/img/class/hunt.jpg" alt="Chasseur">
              Chasseur
            </th>
            <td class="closed">Fermé</td>
          </tr>
          <tr>
            <th scope="row" class="demo">
              <img class="logoClass" src="../../../assets/img/class/demoniste.jpg" alt="Démoniste">
              Démoniste
            </th>
            <td class="closed">Fermé</td>
          </tr>
          <tr>
            <th scope="row" class="druide">
              <img class="logoClass" src="../../../assets/img/class/druid.jpg" alt="Druide">
              Druide
            </th>
            <td class="open">Ouvert</td>
          </tr>
          <tr>
            <th scope="row" class="guerrier">
              <img class="logoClass" src="../../../assets/img/class/warrior.jpg" alt="Guerrier">
              Guerrier
            </th>
            <td class="closed">Fermé</td>
          </tr>
          <tr>
            <th scope="row" class="mage">
              <img class="logoClass" src="../../../assets/img/class/mage.jpg" alt="Mage">
              Mage
            </th>
            <td class="closed">Fermé</td>
          </tr>
          <tr>
            <th scope="row" class="pretre">
              <img class="logoClass" src="../../../assets/img/class/priest.jpg" alt="Prêtre">
              Prêtre
            </th>
            <td class="closed">Fermé</td>
          </tr>
          <tr>
            <th scope="row" class="voleur">
              <img class="logoClass" src="../../../assets/img/class/rogue.jpg" alt="Voleur">
              Voleur
            </th>
            <td class="closed">Fermé</td>
          </tr>

        </tbody>
        <th></th>
      </table>
    </div>
  </div>
</div>
