<div class="row raid raq align-items-center">
    <div class="raid-name">
      <h3>AQ20 : <br>0/5</h3>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ20/kurinnaxx.png" alt="Kurinnaxx">
      <p>Kurinnaxx</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ20/rajaxx.png" alt="Rajaxx">
      <p>Rajaxx</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ20/moam.png" alt="Moam">
      <p>Moam</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ20/grandgosier.png" alt="Grandgosier">
      <p>Grandgosier</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ20/ayamiss.png" alt="Ayamiss">
      <p>Ayamiss</p>
    </div>
    <div class="boss">
      <img src="../../../assets/img/raids-classic/AQ20/ossirian.png" alt="Ossirian">
      <p>Ossirian</p>
    </div>
  </div>
  