<div class="container bodyFormulaire">

  <form class="col-md-10" (ngSubmit)="onSubmit()" [formGroup]="formSignup">
    <div class="text-center">
      <p style="font-style: italic">Les champs marqués d'un astérisque (*) sont obligatoires et doivent être
        remplis.</p>
    </div>
    <br>
    <div class="col-sm-12 titres">
      <h2>Informations de connexion</h2>
    </div>

    <div class="form-group formPseudo">
      <label for="username">Pseudo*</label>
      <input id="username" formControlName="username" type="text" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Pseudo">
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Le pseudo est requis!</div>
      </div>
    </div>

    <div class="form-group formEmail">
      <label for="email">E-mail*</label>
      <input id="email" formControlName="email" type="email" class="form-control" placeholder="Exemple@mail.com"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Le mail est requis!</div>
      </div>
    </div>

    <div class="form-group formConfirmEmail">
      <label for="confirmMail">Confirmation de l'E-mail*</label>
      <input id="confirmMail" formControlName="confirmMail" type="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmMail.errors }">
      <div *ngIf="submitted && f.confirmMail.errors" class="invalid-feedback">
        <div *ngIf="f.confirmMail.errors.required">La confirmation du mail est requise!</div>
      </div>
    </div>

    <div class="form-group formPassword">
      <label for="password">Mot de passe*</label>
      <input id="password" formControlName="password" type="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Mot de passe requis!</div>
      </div>
    </div>

    <div class="form-group formConfirmPassword">
      <label for="confirmPassword">Confirmation du mot de passe*</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">La confirmation du mot de passe est requise!</div>
      </div>
      <label class="text-danger" *ngIf="formSignup.controls['confirmPassword'].hasError('NoPasswordMatch')">
        Les mots de passe ne sont pas les mêmes!
      </label>
      <br>
      <label class="col passconfirm"
        [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('minlength') || formSignup.controls['password'].hasError('hasNumber')  ? '' : 'text-success'">
        <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                        formSignup.controls['password'].hasError('minlength') || formSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                        'check_circle' }}</i>
        Le mot de passe doit contenir au minimum 6 caractères et un chiffre!
      </label>
    </div>

    <mat-divider class="m-4"></mat-divider>

    <div class="col-sm-12 titres">
      <h2>Sexe du personnage</h2>
    </div>
    <div class="form-row formGenrePersonnage justify-content-center">
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" (click)="selectHomme()" name="genre" value="Homme" checked>
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/male.jpg" alt="Male">
            <p>Homme</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" (click)="selectFemme()" name="genre" value="Femme">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/femelle.jpg" alt="Femelle">
            <p>Femme</p>
          </div>
        </label>
      </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <div class="col-sm-12 titres">
      <h2>Race*</h2>
    </div>
    <div *ngIf="selectedHomme == true" class="form-row formRacePersonnageHomme d-flex justify-content-center">
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Orc" (click)="clickOrc()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/orc-m.png" alt="Orc Homme">
            <p>Orc</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Troll" (click)="clickTroll()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/troll-m.png" alt="Troll Homme">
            <p>Troll</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Tauren"
            (click)="clickTauren()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/tauren-m.png" alt="Tauren Homme">
            <p>Tauren</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Mort-vivant"
            (click)="clickMortVivant()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/mortvivant-m.png" alt="Mort-vivant Homme">
            <p>Mort-vivant</p>
          </div>
        </label>
      </div>
    </div>
    <div *ngIf="selectedFemme == true" class="form-row formRacePersonnageFemme d-flex justify-content-center">
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Orc" (click)="clickOrc()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/orc-f.png" alt="Orc Femme">
            <p>Orc</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Troll" (click)="clickTroll()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/troll-f.png" alt="Troll Femme">
            <p>Troll</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Tauren"
            (click)="clickTauren()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/tauren-f.png" alt="Tauren Femme">
            <p>Tauren</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="race" value="Mort-vivant"
            (click)="clickMortVivant()">
          <div class="select" for="selected">
            <img class="imgRace" src="/assets/img/races/mortvivant-f.png" alt="Mort-vivant Femme">
            <p>Mort-vivant</p>
          </div>
        </label>
      </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <div class="col-sm-12 titres">
      <h2>Classe*</h2>
    </div>
    <div class="form-row formClasse d-flex justify-content-between">
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableGuerrier == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Guerrier" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/guerrier.png" alt="Guerrier">
              <p>Guerrier</p>
            </div>
          </div>
          <div *ngIf='!disableGuerrier == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Guerrier">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/guerrier.png" alt="Guerrier">
              <p>Guerrier</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableVoleur == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Voleur" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/voleur.png" alt="Voleur">
              <p>Voleur</p>
            </div>
          </div>
          <div *ngIf='!disableVoleur == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Voleur">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/voleur.png" alt="Voleur">
              <p>Voleur</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableChasseur == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Chasseur" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/chasseur.png" alt="Chasseur">
              <p>Chasseur</p>
            </div>
          </div>
          <div *ngIf='!disableChasseur == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Chasseur">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/chasseur.png" alt="Chasseur">
              <p>Chasseur</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableDemoniste == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Démoniste" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/demoniste.jpg" alt="Démoniste">
              <p>Démoniste</p>
            </div>
          </div>
          <div *ngIf='!disableDemoniste == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Démoniste">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/demoniste.jpg" alt="Démoniste">
              <p>Démoniste</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableMage == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Mage" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/mage.png" alt="Mage">
              <p>Mage</p>
            </div>
          </div>
          <div *ngIf='!disableMage == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Mage">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/mage.png" alt="Mage">
              <p>Mage</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disablePretre == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Prêtre" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/pretre.png" alt="Prêtre">
              <p>Prêtre</p>
            </div>
          </div>
          <div *ngIf='!disablePretre == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Prêtre">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/pretre.png" alt="Prêtre">
              <p>Prêtre</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableDruide == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Druide" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/druide.png" alt="Druide">
              <p>Druide</p>
            </div>
          </div>
          <div *ngIf='!disableDruide == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Druide">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/druide.png" alt="Druide">
              <p>Druide</p>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group col-md-1 d-flex justify-content-center">
        <label class="checkcontainer">
          <div *ngIf='disableChaman == true'>
            <input type="radio" class="d-none" formControlName="classe" value="Chaman" disabled>
            <div class="select">
              <img class="imgClasseDisabled" src="/assets/img/classes/chaman.png" alt="Chaman">
              <p>Chaman</p>
            </div>
          </div>
          <div *ngIf='!disableChaman == true'>
            <input type="radio" class="d-none" id="selected" formControlName="classe" value="Chaman">
            <div class="select" for="selected">
              <img class="imgClasse" src="/assets/img/classes/chaman.png" alt="Chaman">
              <p>Chaman</p>
            </div>
          </div>
        </label>
      </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <div class="col-sm-12 titres">
      <h2>Rôle*</h2>
    </div>
    <div class="form-row formRole d-flex justify-content-center">
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="specialisation" value="Tank">
          <div class="select" for="selected">
            <img class="imgClasse" src="/assets/img/classes/tank.png" alt="Tank">
            <p>Tank</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="specialisation" value="DPS">
          <div class="select" for="selected">
            <img class="imgClasse" src="/assets/img/classes/dps.png" alt="DPS">
            <p>DPS</p>
          </div>
        </label>
      </div>
      <div class="form-group col-md-2 d-flex justify-content-center">
        <label class="checkcontainer">
          <input type="radio" class="d-none" id="selected" formControlName="specialisation" value="Heal">
          <div class="select" for="selected">
            <img class="imgClasse" src="/assets/img/classes/healer.png" alt="Heal">
            <p>Tank</p>
          </div>
        </label>
      </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <div class="col-sm-12 titres">
      <h2>Niveau du personnage*</h2>
    </div>

    <div class="form-group formNiveau">
      <label for="level">Niveau</label>
      <input id="level" formControlName="level" type="text" class="form-control" min="1" max="60" maxlength="2"
        [ngClass]="{ 'is-invalid': submitted && f.level.errors }" placeholder="60">
      <div *ngIf="submitted && f.level.errors" class="invalid-feedback">
        <div *ngIf="f.level.errors.required">Le niveau est requis!</div>
      </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <div class="row">
      <div class="col-6" style="border-right: 3px solid #771b1b49;">
        <div class="col-sm-12 titres">
          <h2>Premier Métier</h2>
        </div>


        <div class="form-row formRecolte d-flex justify-content-around">
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableDepecageUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Dépeçage" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/depecage.jpg" alt="Dépeçage">
                  <p>Dépeçage</p>
                </div>
              </div>
              <div *ngIf='!disableDepecageUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Dépeçage"
                  (click)="choiceDepecageUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/depecage.jpg" alt="Dépeçage">
                  <p>Dépeçage</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableHerboristeUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Herboriste" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/herboriste.jpg" alt="Herboriste">
                  <p>Herboriste</p>
                </div>
              </div>
              <div *ngIf='!disableHerboristeUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Herboriste"
                  (click)="choiceHerboUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/herboriste.jpg" alt="Herboriste">
                  <p>Herboriste</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableMineurUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Mineur" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/mineur.jpg" alt="Mineur">
                  <p>Mineur</p>
                </div>
              </div>
              <div *ngIf='!disableMineurUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Mineur"
                  (click)="choiceMineurUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/mineur.jpg" alt="Mineur">
                  <p>Mineur</p>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="form-row formFabricationUn d-flex justify-content-around">
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableTdcUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Travail du cuir" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/travailducuir.jpg"
                    alt="Travail du cuir">
                  <p>Travail du cuir</p>
                </div>
              </div>
              <div *ngIf='!disableTdcUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Travail du cuir"
                  (click)="choiceTdcUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/travailducuir.jpg" alt="Travail du cuir">
                  <p>Travail du cuir</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableCouturierUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Couturier" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/couturier.jpg" alt="Couturier">
                  <p>Couturier</p>
                </div>
              </div>
              <div *ngIf='!disableCouturierUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Couturier"
                  (click)="choiceCouturierUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/couturier.jpg" alt="Couturier">
                  <p>Couturier</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableEnchanteurUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Enchanteur" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/enchanteur.jpg" alt="Enchanteur">
                  <p>Enchanteur</p>
                </div>
              </div>
              <div *ngIf='!disableEnchanteurUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Enchanteur"
                  (click)="choiceEnchantUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/enchanteur.jpg" alt="Enchanteur">
                  <p>Enchanteur</p>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="form-row formFabricationDeux d-flex justify-content-around">
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableAlchiUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Alchimiste" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/alchimiste.png" alt="Alchimiste">
                  <p>Alchimiste</p>
                </div>
              </div>
              <div *ngIf='!disableAlchiUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Alchimiste"
                  (click)="choiceAlchiUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/alchimiste.png" alt="Alchimiste">
                  <p>Alchimiste</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableForgeUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Forgeron" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/forgeron.jpg" alt="Forgeron">
                  <p>Forgeron</p>
                </div>
              </div>
              <div *ngIf='!disableForgeUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Forgeron"
                  (click)="choiceForgeUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/forgeron.jpg" alt="Forgeron">
                  <p>Forgeron</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableIngeUn == true'>
                <input type="radio" class="d-none" formControlName="premierMetier" value="Ingénieur" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/ingénieur.jpg" alt="Ingénieur">
                  <p>Ingénieur</p>
                </div>
              </div>
              <div *ngIf='!disableIngeUn == true'>
                <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Ingénieur"
                  (click)="choiceIngeUn()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/ingénieur.jpg" alt="Ingénieur">
                  <p>Ingénieur</p>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="form-row formAucun d-flex justify-content-around">

          <div *ngIf="disableNiveauMetierUn == true" class=" col-md-5 ">
            <div class="form-group formNiveau">
              <label for="niveauMetier">Niveau du métier</label>
              <input id="niveauMetier" type="text" class="form-control niveauDisabled" min="1" max="300" maxlength="3" placeholder="Aucun" disabled>
            </div>
          </div>
          <div *ngIf="!disableNiveauMetierUn == true" class=" col-md-5 ">
            <div class="form-groupformNiveau">
              <label for="niveauMetier">Niveau du métier</label>
              <input id="niveauMetier" formControlName="lvlPremierMetier" type="text" class="form-control" min="1" max="300" maxlength="3" placeholder="300">
            </div>
          </div>


          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <input type="radio" class="d-none" id="selected" formControlName="premierMetier" value="Aucun"
                (click)="choiceAucunUn()">
              <div class="select" for="selected">
                <img class="imgClasse" src="/assets/img/croix.png" alt="Aucun">
                <p>Aucun</p>
              </div>
            </label>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="col-sm-12 titres">
          <h2>Second Métier</h2>
        </div>

        <div class="form-row formRecolte d-flex justify-content-around">
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableDepecageDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Dépeçage" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/depecage.jpg" alt="Dépeçage">
                  <p>Dépeçage</p>
                </div>
              </div>
              <div *ngIf='!disableDepecageDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Dépeçage"
                  (click)="choiceDepecageDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/depecage.jpg" alt="Dépeçage">
                  <p>Dépeçage</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableHerboristeDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Herboriste" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/herboriste.jpg" alt="Herboriste">
                  <p>Herboriste</p>
                </div>
              </div>
              <div *ngIf='!disableHerboristeDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Herboriste"
                  (click)="choiceHerboDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/herboriste.jpg" alt="Herboriste">
                  <p>Herboriste</p>
                </div>
              </div>

            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableMineurDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Mineur" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/mineur.jpg" alt="Mineur">
                  <p>Mineur</p>
                </div>
              </div>
              <div *ngIf='!disableMineurDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Mineur"
                  (click)="choiceMineurDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/mineur.jpg" alt="Mineur">
                  <p>Mineur</p>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="form-row formFabricationUn d-flex justify-content-around">
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableTdcDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Travail du cuir" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/travailducuir.jpg"
                    alt="Travail du cuir">
                  <p>Travail du cuir</p>
                </div>
              </div>
              <div *ngIf='!disableTdcDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Travail du cuir"
                  (click)="choiceTdcDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/travailducuir.jpg" alt="Travail du cuir">
                  <p>Travail du cuir</p>
                </div>
              </div>

            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableCouturierDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Couturier" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/couturier.jpg" alt="Couturier">
                  <p>Couturier</p>
                </div>
              </div>
              <div *ngIf='!disableCouturierDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Couturier"
                  (click)="choiceCouturierDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/couturier.jpg" alt="Couturier">
                  <p>Couturier</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableEnchanteurDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Enchanteur" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/enchanteur.jpg" alt="Enchanteur">
                  <p>Enchanteur</p>
                </div>
              </div>
              <div *ngIf='!disableEnchanteurDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Enchanteur"
                  (click)="choiceEnchantDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/enchanteur.jpg" alt="Enchanteur">
                  <p>Enchanteur</p>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="form-row formFabricationDeux d-flex justify-content-around">
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableAlchiDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Alchimiste" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/alchimiste.png" alt="Alchimiste">
                  <p>Alchimiste</p>
                </div>
              </div>
              <div *ngIf='!disableAlchiDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Alchimiste"
                  (click)="choiceAlchiDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/alchimiste.png" alt="Alchimiste">
                  <p>Alchimiste</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableForgeDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Forgeron" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/forgeron.jpg" alt="Forgeron">
                  <p>Forgeron</p>
                </div>
              </div>
              <div *ngIf='!disableForgeDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Forgeron"
                  (click)="choiceForgeDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/forgeron.jpg" alt="Forgeron">
                  <p>Forgeron</p>
                </div>
              </div>
            </label>
          </div>
          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <div *ngIf='disableIngeDeux == true'>
                <input type="radio" class="d-none" formControlName="secondMetier" value="Ingénieur" disabled>
                <div class="select">
                  <img class="imgClasseDisabled" src="/assets/img/metiers/ingénieur.jpg" alt="Ingénieur">
                  <p>Ingénieur</p>
                </div>
              </div>
              <div *ngIf='!disableIngeDeux == true'>
                <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Ingénieur"
                  (click)="choiceIngeDeux()">
                <div class="select" for="selected">
                  <img class="imgClasse" src="/assets/img/metiers/ingénieur.jpg" alt="Ingénieur">
                  <p>Ingénieur</p>
                </div>
              </div>
            </label>
          </div>
        </div>

        <div class="form-row formFabricationDeux d-flex justify-content-around">

          <div *ngIf="disableNiveauMetierDeux == true" class=" col-md-5 ">
            <div class="form-group formNiveau">
              <label for="niveauMetier">Niveau du métier</label>
              <input id="niveauMetier" type="text" class="form-control niveauDisabled" min="1" max="300" maxlength="3" placeholder="Aucun" disabled>
            </div>
          </div>
          <div *ngIf="!disableNiveauMetierDeux == true" class=" col-md-5 ">
            <div class="form-groupformNiveau">
              <label for="niveauMetier">Niveau du métier</label>
              <input id="niveauMetier" formControlName="lvlSecondMetier" type="text" class="form-control" min="1" max="300" maxlength="3" placeholder="300">
            </div>
          </div>


          <div class="form-group col-md-1 d-flex justify-content-center">
            <label class="checkcontainer">
              <input type="radio" class="d-none" id="selected" formControlName="secondMetier" value="Aucun"
                (click)="choiceAucunDeux()">
              <div class="select" for="selected">
                <img class="imgClasse" src="/assets/img/croix.png" alt="Aucun">
                <p>Aucun</p>
              </div>
            </label>
          </div>
        </div>


      </div>
    </div>

    <mat-divider class="m-3"></mat-divider>

    <div class="form-group d-flex justify-content-around">
      <button (click)="retourPage()" type="button" class="btn btnRetour col-4 col-sm-5">Retour</button>
      <button type="submit" class="btn btnValider col-4 col-sm-5">Valider</button>
    </div>

    <div class="form-group d-flex justify-content-around">
      <img *ngIf="loading" src="assets/img/loading.gif" />
    </div>

  </form>

</div>
