<div class="row header justify-content-center">
  <img class="imgClasse" src="/assets/img/classes/healer.png" alt="Heal">
</div>

<div class="rosterHealList row col-12">
  <mat-list class="col-4">
    <div mat-subheader class="mat-list-title titleHeal"><img src="/assets/img/class/priest.jpg" class="header-icon"> Prêtre</div>
    <mat-list-item *ngFor="let player of combinedPriestMemberArray">
      <!-- <img [src]="player.img" mat-list-icon> -->
      <div mat-line 
      [class.registered]="player.username" 
      (click)="player.username && (isMembre===true || isOfficier===true || isAdmin===true) ? openDetails(player) : false"
      >{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-4">
    <div mat-subheader class="mat-list-title titleHeal"><img src="/assets/img/class/chamheal.png" class="header-icon"> Chaman</div>
    <mat-list-item *ngFor="let player of combinedChamMemberArray">
      <!-- <img [src]="player.img" mat-list-icon> -->
      <div mat-line 
      [class.registered]="player.username" 
      (click)="player.username && (isMembre===true || isOfficier===true || isAdmin===true) ? openDetails(player) : false"
      >{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-4">
    <div mat-subheader class="mat-list-title titleHeal"><img src="/assets/img/class/druidheal.png" class="header-icon"> Druide</div>
    <mat-list-item *ngFor="let player of combinedDruidMemberArray">
      <!-- <img [src]="player.img" mat-list-icon> -->
      <div mat-line 
      [class.registered]="player.username" 
      (click)="player.username && (isMembre===true || isOfficier===true || isAdmin===true) ? openDetails(player) : false"
      >{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
