<div class="row header justify-content-center">
  <img class="imgClasse" src="/assets/img/classes/healer.png" alt="Heal">
</div>

<div class="rosterHealList row col-12">
  <mat-list class="col-4">
    <div mat-subheader class="mat-list-title titleHeal">Prêtre</div>
    <mat-list-item *ngFor="let player of priestMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-4">
    <div mat-subheader class="mat-list-title titleHeal">Chaman</div>
    <mat-list-item *ngFor="let player of chamanMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="col-4">
    <div mat-subheader class="mat-list-title titleHeal">Druide</div>
    <mat-list-item *ngFor="let player of druidMembers">
      <img [src]="player.img" mat-list-icon>
      <div mat-line>{{player.pseudo}}</div>
      <div mat-line> {{player.grade}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
