<main>
  <section class="cd-section description cd-section--bg-fixed">
    <app-description></app-description>
  </section>
  <section class="cd-section d-flex justify-content-center align-items-center">
    <app-why-us></app-why-us>
  </section>
  <section class="cd-section cd-section--bg-fixed d-flex justify-content-center align-items-center">
    <app-progress></app-progress>
  </section>
  <section class="cd-section d-flex align-items-center justify-content-center">
    <app-candidature></app-candidature>
  </section>
  <section class="cd-section cd-section--bg-fixed">
    <app-calendar></app-calendar>
  </section>

  <!-- other sections here -->
</main>
