<div class="container-fluid p-0 m-0 d-flex justify-content-center">
  <div class="row col-10 col-md-8 bodyAbout m-3 p-2">

    <div class="row col-12 col-md-8 d-flex justify-content-center align-items-center">
      <div class="row d-lg-none m-auto imageAboutSm d-flex justify-content-center">
        <img src="/assets/img/illidanPng.png" alt="Illidan">
      </div>
      <div class="textAbout col-10">
        <h1>Pourquoi nous rejoindre ?</h1>
        <p>La guilde Not Going To Happen est née en Mai 2020, grâce à l'investissement d'une trentaine de joueurs amoureux du jeu et qui ont déjà parcouru un bout de chemin ensemble.</p>
        <p>Notre objectif est de construire une communauté solide afin de clean le contenu disponible sur Classic le plus efficacement possible, ainsi que prolonger l'aventure sur BC Classic quand il sortira (s'il sort un jour !)</p>
        <p>Notre quotidien est réparti entre sessions PVP, Farm et principalement le PVE deux soirs par semaine.</p>
        <p>Nous disposons d'un discord ou est centralisé l'inscription pour les raids et évènements PVP, les screens
          souvenirs, discussions diverses et autre.</p>
        <p>Pour les raids et les loots, un système d'attribution est mis en place, et en cas de nécessité au /rand</p>
      </div>
    </div>
    <img class='d-none d-lg-block col-4 imageAbout' src="/assets/img/illidanPng.png" alt="Illidan">
  </div>
</div>
