<div class="container-fluid d-flex justify-content-center">
<div class="row col-8 bodyAbout">
  <div class="imageAbout d-flex justify-content-between align-items-center">
    <div class="textAbout col-8">
      <h1>Pourquoi nous rejoindre ?</h1>
      <p>Nous sommes une guilde active depuis l'ouverture de Classic. De base centrée sur l'entraide lors du leveling et
        le PVP, lors de sa création, aujourd'hui nous visons le PVE et PVP de haut niveau.</p>
      <p>Le quotidien de la guilde est réparti entre sessions PVP, Battlegrounds et surtout par le contenu PVE du jeu deux soirs par semaine.</p>
      <p>Nous disposons d'un discord ou est centralisé l'inscription pour les raids et évènements PVP, les screens
        souvenirs, discussions diverses et autre.</p>
      <p>Pour les raids, un système de roster et de DKP est en place, aucun loot n'est au rand, sauf exception.</p>
    </div>
    <img src="../../../assets/img/illidanPng.png" alt="Illidan">
  </div>
</div>
</div>