.imageAbout {
    max-width: 300px;
    width: auto;
}

.bodyAbout {
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 13px;
}

.row {
    padding: 0;
    margin: 0;
}

.imageAboutSm img {
    width: 150px;
}