.imageAbout img {
    width: 300px;
    max-width: 80%;
}

.bodyAbout {
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 30px;
    border-radius: 13px;
}

.textAbout {
    margin-left: 3%;
}